<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
  <form action="/offers/new" method="post">
    <label>Title</label>
    <input name="title"/>
    <br>
    <label>Description</label>
    <input name="description"/>
    <br>
    <label>Price</label>
    <input name="price"/>
    <br>
    <label>Date(shouldnt work like that but idk how)</label>
    <input type="date" name="date"/>
    <br>
    <label>Publisher's email</label>
    <input name="email"/>
    <br>
    <input type="submit">Submit</input>
  </form>
</body>
</html>
