<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
 <form action="/register" method="post">
   <label>Email</label>
   <input type="email" name="email"/>
   </br>
   <label>Password</label>
   <input name="password" type="password"/>
   </br>
   <label>Name</label>
   <input name="name"/>
   </br>
   <label>Adress</label>
   <input name="adress"/>
   </br>
   <label>Phone Number</label>
   <input name="phone" type="tel"/>
   </br>
   <button type="submit">Submit</button>
  </form>
</body>
</html>
