{% extends 'base.html' %}
{% block body %}
<p> {{error}} </p>
<form action="/register-check" method="post" class="register">
    <label>Email</label>
    <input type="email" name="email"/>
    </br>
    <label>Password</label>
    <input name="password" type="password"/>
    </br>
    <label>Name</label>
    <input name="name"/>
    </br>
    <label>Adress</label>
    <input name="adress"/>
    </br>
    <label>Phone Number</label>
    <input name="phone" type="tel"/>
    </br>
    <button type="submit">Submit</button>
</form>
{% endblock %}   
